@font-face {
  font-family: "PT-Sans";
  src: url("/public/fonts/PT-Sans/PT_Sans-Web-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue-black: #42567a;
  --blue-black-opacity: #42567a65;
  --blue: #3877ee;
  --iris: #5d5fef;
  --fuschia: #ef5da8;
  --white: #f4f5f9;
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT-Sans";
  line-height: 1.6;
  color: var(--blue-black);
  background: var(--white);
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
