.circleContainer {
  position: relative;
  border-radius: 50%;
  border: 1px var(--blue-black-opacity) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  z-index: 10;
  overflow: visible;
}

.pointGroup {
  cursor: pointer;
  &:hover {
    .circle:not(.active) {
      animation: expandCircle 0.3s ease-out forwards;
    }
  }
}

.circle {
  transition: all 0.2s ease;

  &.active {
    stroke: var(--blue-black);
    stroke-width: 1;
    r: 20;
  }

  &:not(.active) {
    fill: var(--blue-black);
    stroke: none;
    r: 3;
  }
}

.circleText {
  pointer-events: none;
}

@keyframes expandCircle {
  0% {
    r: 3;
    fill: var(--blue-black);
    stroke: none;
  }
  30% {
    r: 8;
    fill: var(--blue-black-opacity);
    stroke: none;
  }
  70% {
    r: 15;
    fill: var(--blue-black);
    stroke: var(--blue-black);
    stroke-width: 0.5;
  }
  100% {
    r: 20;
    stroke: var(--blue-black);
    stroke-width: 1;
  }
}
